$green-1: #102706;
$green-2: #1c8242;
$green-3: #179c49;
$green-4: #17bb55;
$green-light: #e1fad4;
$orange: #fbb552;
$white: #ffffff;
$gray-1: #707070;
$gray-2: #f7f7f7;
$gray-3: #f5f5f5;
$black: #000;

.menu_icon {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 25px;
  cursor: pointer;
  &.active-btn {
    div:first-child {
      background-color: $white;
      transform: rotate(42deg) translate(9px, 6.2px);
      -webkit-transform: rotate(42deg) translate(9px, 6.2px);
      -moz-transform: rotate(42deg) translate(9px, 6.2px);
      -ms-transform: rotate(42deg) translate(9px, 6.2px);
      -o-transform: rotate(42deg) translate(9px, 6.2px);
    }
    div:nth-child(2) {
      opacity: 0;
    }
    div:last-child {
      background-color: $white;
      transform: rotate(-42deg) translate(6px, -2.2px);
      -webkit-transform: rotate(-42deg) translate(6px, -2.2px);
      -moz-transform: rotate(-42deg) translate(6px, -2.2px);
      -ms-transform: rotate(-42deg) translate(6px, -2.2px);
      -o-transform: rotate(-42deg) translate(6px, -2.2px);
    }
  }
  div {
    margin-bottom: 4px;
    height: 2px;
    background-color: $white;
    border-radius: 1px;
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
    }
  }
}
